@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}

.active {
  background-color: #a4aaaf;
  color: #ffff;
  padding: 0.5rem 0.8rem;
  border-radius: 9999px;
}

.animate {
  animation: skeletion-loading 1.5s infinite ease-out alternate;
}

@keyframes skeletion-loading {
  0% {
    background-color: hsl(200, 0%, 60%);
  }

  100% {
    background-color: hsl(200, 0%, 90%);
  }
}

.animate2 {
  animation: translate 1.5s ease-out;
}

@keyframes translate {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate3 {
  animation: rotation 12s ease-out infinite alternate; /* 'infinite' makes the animation repeat indefinitely */
}


@keyframes rotation {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
  }
}