@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}

li.active {
  background-color: #a4aaaf;
  color: #ffff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.animate {
  animation: skeletion-loading 1.5s infinite ease-out alternate;
}

@keyframes skeletion-loading {
  0% {
    background-color: hsl(200, 0%, 60%);
  }

  100% {
    background-color: hsl(200, 0%, 90%);
  }
}